@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(245, 86, 0);
  --bg-color: rgb(31, 34, 46);
  --bg-modal-color: rgb(49, 52, 68);
  --glass-bg: rgba(221, 221, 221, 0.15);
  --primary-text: rgb(246, 246, 246);
  --secondary-text: rgb(255, 255, 255);
  --tertiary-text: rgb(238, 238, 238);
  --modal-primary-text: rgb(222, 222, 222);
  --modal-secondary-text: rgb(187, 187, 187);
  --key-text: rgba(238, 238, 238, 0.8);
  --blur-bg: rgba(100, 99, 134, 0.2);
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg-modal-color);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 0 10rem hsla(0, 0%, 100%, 0.1) inset;
}

@layer base {
  body {
    color: var(--primary-text);
    grid-template-areas: "stack";
  }
  body > * {
    grid-area: stack;
  }
}

@layer components {
  .logo {
    clip-path: polygon(100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
  }
}
